<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h2>Welcome  <span th:text="${username}"></span> !</h2>
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #555;
            outline: none;
        }

        input[type=text]:focus {
            background-color: lightblue;
        }
    </style>
    </head>
    <body/>
    <form  th:action="@{/post}" method="post">
        <label for="body">Write a Post</label>
        <input type="text" id="body" name="body" required>
        <br>
        <button type="submit" >Submit</button>
    </form>

    </body>

    <div>
        <h3> Your Posts : </h3>
        <ul th:each="post : ${posts}" class="list-group" style="width: 70%;">
            <li class="list-group-item disabled">Post :<span th:text="${post.body}"></span><br/>
            <li class="list-group-item disabled">Time :<span th:text="${post.createdAt}"></span><br/>
            <li class="list-group-item disabled">Posted By :<span th:text="${post.user.username}"></span><br/>
            </li>
            <br/>
        </ul>
    </div>
</div>

</body>
</html>